@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}

.x-container{
    margin: 0% 3%;
}


@media (min-width: 600px){
    .x-container{
        margin: 0% 5%;
    }
}

@media (min-width: 1024px){
    .x-container{
        margin: 0% 10%;
    }
}

@media (min-width: 1280px){
    .x-container{
        margin: 0% 15%;
    }
}

.pagination {
    display: inline-block;
}
.pagination button {
    color: black;
    background: white;
    border: 1px solid #ddd;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
.pagination button.active {
    background-color: indigo;
    color: white;
}
.pagination button.active:hover {
    background-color: rgb(107, 3, 182);
    color: white;
}
.pagination button:hover {
    background-color: #ddd;
}